configuration {
  modes: "Workspace:rofi-desktop.sh,drun,window,combi";
  combi-modes: "drun,window,Workspace";
  show-icons: true;
  columns: 1;
  font: "Hermit 10";
  terminal: "konsole";
  sort: true;
  display-drun: "Run";
  display-window: "Window";

  drun {
    parse-user:   true;
    parse-system: true;
  }
}
