configuration {
  modes: "workspace:rofi-desktop.sh,pass:rofi-pass.sh,drun,window,combi";
  combi-modes: "drun,window,pass,workspace";
  show-icons: true;
  font: "Hermit 10";
  terminal: "konsole";
  sort: true;

  drun {
    display-name: "Run";
    parse-user:   true;
    parse-system: true;
  }

  window {
    display-name: "Win";
  }

  workspace {
    display-name: "Workspace";
  }

  pass {
    display-name: "Pass";
  }
}
